*{
  margin: 0;
  padding: 0;
}

body{
  /* it hides horizontal scroll barr */
  overflow-x: hidden;
  /* box-sizing: border-box; */
  background-color:  #9bd6f8;
  width: 100%;
  height: 100vh;
}
  
  .nav {
    position: relative;
    width: 100%;
    display: flex;
    /* background-image: url(nav\ bc.jpg); */
    background-size: cover;
    align-items: center;
    background-color: #038575
   
  }
  
  .logo {
    cursor: pointer;
    margin: 25px 0;
    margin-left: 25px;
  }
  
  input{
    margin-left: 10vw;
    background-color: #ebfcff;
    border: 2px solid  rgba(10, 198, 255, 0.3);
    border-radius: 5px;
    border-radius: 5px;
    color: #000000;
    width: 24vw;
    height: 4vh;  
  }
  .nav>button{
      background-color:  rgba(14, 14, 14, 0.376);
      height: 4vh; 
      color: white;
      cursor: pointer;
      align-items: center;
      margin-left: 0.5vw;
  }
  .nav>button:hover{
    background-color:rgb(149, 146, 137);
  }
  
  .name {
    margin-left: 40px;
    font-size: 50px;
    border: 2px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  
  .name:hover {
    color: rgb(235, 159, 6);
  }
  
  .menu {
    cursor: pointer;
    margin-right: 25px;
    display: none;
  }
  #login{
    display: flex;
    cursor: pointer;
    width: 20vw;
    height: 4vh;
    align-items: center;
    justify-content: center;  
    color: #ffffff;
    /* background-color: rgb(0, 132, 255); */
    border: 1px solid rgba(255, 255, 255, 0);
    /* border-radius: 10px; */
    margin-left: 21vw;
  }
  
  .cart{
    display: flex;
    margin-top: 1vh;
    width: 3.5vw;
    gap: 2vw;
  }
  #cart{
    height: 3vh;
    cursor: pointer;
  }
  
  #profile{
    height: 3vh;
    cursor: pointer;
  }
  
  nav {
    flex: 1;
    text-align: right;   
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 13px;
    color: rgb(4, 4, 4);
  }
  
  nav ul li a:hover {
    color: rgb(5, 176, 176);
    
  }
   .container{
    display:flex;
    width: 90%;       
    padding-right: 5vw;
    padding-left: 5vw;
   
    
    
   }
   .image{
    background-color: rgba(255, 255, 255, 0.61);
    backdrop-filter: 2px;    
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   }
   .container img{
    position: relative;
     width: auto;
     height: 80vh;
     margin-bottom: 0px;
     padding-bottom: 0px;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;    
   
   }
   .info{
    margin-top: 3vh;
    margin-left: 2vw;
   }
   .cloth-details {
  padding: 40px 0;
}

.title {
  font-size: 28px;
  margin-bottom: 10px;
}

.rating {
  font-size: 16px;
  margin-bottom: 10px;
}

.price {
  font-size: 16px;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}
   .cloth-add-to-cart {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#buy{
  background-color: crimson;
}
#buy:hover{
  background-color: rgb(201, 6, 45);
}
#back{
  background-color: black;
  color: white;
  margin-top: 20vh;
  padding: 8px 18px;
}
.cloth-add-to-cart:hover {
  background-color: #0056b3;
 
}

footer { 
  /* margin-top: 4vh; */
 
  background-color: #f8f8f8;
  padding: 20px 0;
 
}

.footerbox {
 
  background-color: #038575; 
  display: flex;
  gap: 30vw;
  height: 30vh;
}


.footer-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo P {
  width: 100px; /* Adjust the width to fit your logo size */
  color: white;
  margin-top: 2.5vh;
  font-size: 5rem;
  font-family: 'Monoton', cursive;
 
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media img {
  width: 30px; /* Adjust the width to fit your social media logo size */
  margin-right: 10px;
}