
*{
  margin: 0;
  padding: 0;
}

body{
  /* it hides horizontal scroll barr */
  overflow-x: hidden;
  /* box-sizing: border-box; */
  background-color:  #9bd6f8;
  width: 100%;
  height: 100vh;
}

.nav {
  position: relative;
  width: 100%;
  display: flex;
  /* background-image: url(nav\ bc.jpg); */
  background-size: cover;
  align-items: center;
  background-color: #eaeaea;
 
}

.logo {
  cursor: pointer;
  margin: 25px 0;
  margin-left: 25px;
}

input{
  margin-left: 10vw;
  background-color: #ebfcff8c;
  border: 2px solid  rgba(10, 198, 255, 0.3);
  border-radius: 5px;
  border-radius: 5px;
  color: #000000;
  width: 24vw;
  height: 4vh;  
}
.nav>button{
    background-color:  rgb(120, 119, 119);
    height: 4vh; 
    color: white;
    cursor: pointer;
    align-items: center;
    margin-left: 0.5vw;
}
.nav>button:hover{
  background-color:rgb(149, 146, 137);
}

.name {
  margin-left: 40px;
  font-size: 50px;
  border: 2px solid black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.name:hover {
  color: rgb(235, 159, 6);
}

.menu {
  cursor: pointer;
  margin-right: 25px;
  display: none;
}
#login{
  display: flex;
  cursor: pointer;
  width: 20vw;
  height: 4vh;
  align-items: center;
  justify-content: center;  
  color: #038575;
  /* background-color: rgb(0, 132, 255); */
  border: 1px solid rgba(255, 255, 255, 0);
  /* border-radius: 10px; */
  margin-left: 21vw;
}

.cart{
  display: flex;
  margin-top: 1vh;
  width: 3.5vw;
  gap: 2vw;
}
#cart{
  height: 3vh;
  cursor: pointer;
}

#profile{
  height: 3vh;
  cursor: pointer;
}

nav {
  flex: 1;
  text-align: right;   
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  font-size: 13px;
  color: rgb(4, 4, 4);
}

nav ul li a:hover {
  color: rgb(5, 176, 176);
  
}

/* section */
#largebox{
  display: flex;
  box-sizing: border-box;   
  width: 100vw;  
  height: 70vh;
  /* align-items: end; */
  background-color: #037f71;
  
}
.poster{
  display: flex;
  /* justify-content: center; */ 
  background-size: cover;  
  background-blend-mode: color-dodge;
 
}

.discount{
  display: flex;
  flex-direction:column;
  justify-content: center; 
  margin-left: 10vw;
  font-size: 5rem;
  margin-right: 18vw;
  
  }
  .discount>button{
    border: 2px solid rgb(252, 252, 252);
    background-color: #ff0000;    
    margin-top: 2vh;
    color: white;
  }
  .discount>button:hover{
    background-color: #139b03;    
   }
 #prefall{
  border: 4px solid #fff;
  
   color: #fff;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 
 }
 
 #off{
  display:flex;
  flex-wrap: wrap;
  font-size:5rem;
  background-color: #fff;
  width: 26.5vw;
   align-items: center;
  justify-content: center;
  color: #024b43;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 
 }

/* after main box */
.smallboxs {
  box-sizing: border-box;
  width: 100vw;
  padding-top: 2vh;
  display: grid;
  grid-template-columns: auto auto auto auto ;
  justify-content: center;
  gap: 12vh 12vw;
  flex-wrap: wrap;
 


}

.innerbox {
  width: 15vw;
  height: 40vh;
  backdrop-filter: 2px;
  /* background-color: rgb(239, 211, 150); */
  /* background-color: rgb(9, 161, 156); */
  background-color: rgba(255, 255, 255, 0.61);
  /* background-color: rgb(226, 187, 204); */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  display: flex;
  float: left;
  overflow: hidden;

}
.innerbox:hover{
  background-image: url(/images/art2.png);
  background-size: cover;
}

.innerbox>span {  
display:inline-flex; 
flex-direction: column; 
padding: 2px;
height: 3vh; 
background-color: #9bd6f8;
font-size: 0.8rem;
gap: 32vh;

}

.innerbox>span>button {
  z-index: 1;
  cursor: pointer;
  width: 5vw;
  margin-right: -1.5vw;
  border: 2px solid white;
  color: white;
  background-color: #ec3232;
}
.innerbox>span>button:hover{
  background-color: green;
}

/* .rotate{
  color: white;  
  padding: 0.5vh 1vw;
  background-color: rgb(20, 209, 203);
  height: 3vh;
 } */






.slider {
  margin-top: 8vh;
  margin-bottom: 8vh;  
  background-image: url(/images/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  width: 100%; /* Adjust the width to fit your desired size */
  height: 300px; /* Adjust the height to fit your desired size */
  overflow: hidden;  
  position: relative;
}

.slide {
  margin-left: 44vw; 
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease;
  
}

.slide img { 
  max-width: 100%;
  max-height: 100%;
  
}

.slide.active {
  display: block;
}
/* rotating wheel */
.wheel {
  margin-top: 3vh;
 
  width: 100%;
  height: 200px;
  /* background-color: #f1f1f1; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
}

/* CSS for the animated image */
.wheel img {
 
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: moveRotate 10s linear infinite;
}

/* CSS for the animation */
@keyframes moveRotate {
  0% { transform: translate(-50%, -50%) rotate(90deg); }
  25% { transform: translate(calc(100% + 1000px), -50%) rotate(0deg); }
  50% { transform: translate(calc(100% + 100%), -50%) rotate(-90deg); }
  75% { transform: translate(-50%, -50%) rotate(90deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}
/************************************************************************/

/* *******************Order now banner******************* */
.custom-banner {
  width: 100%;
  height: 200px;
  background-color: #9bd6f8;
  background-image: url(/images/sand.png);
  background-size: auto;
  position: relative;
  overflow: hidden;
}

/* CSS for the wheel */
.custom-wheel {
  margin-top: 4vh;
 
  width: 100%;
  height: 25vh;
  /* background-color: #f1f1f1; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
}

/* CSS for the animated image */
.custom-wheel img {
  position: absolute;
  top: 50%;
  left: 20%;
  
  transform: translate(-50%, -50%) rotate(0deg);
  animation: customMoveRotate 10s linear infinite;
}
.custom-wheel img:hover {
  position: absolute;
  top: 50%;
  left: 20%;
  
  transform: translate(-50%, -50%) rotate(0deg);
  animation: customMoveRotate 1s linear infinite;
}


/* CSS for the "Order Now" strip */
.custom-order-now {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #fff; */
  padding: 10px 20px;
  /* font-weight: bold; */
  font-size: 4rem;
  font-family: 'Amatic SC', cursive;
  /* border-radius: 5px; */
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); */
}
.stockes {
  position: absolute; 
  top: 75%;
  left: 50%;
  color: rgb(0, 1, 4);
  transform: translate(-50%, -50%);  
  padding: 10px 20px;
  font-weight: bold; 
  font-family: 'Amatic SC', cursive;
  text-decoration-line: overline;
  letter-spacing: 6px;    
}
.custom-order-now:hover{
  color: #ec3232;
}
/**************************************************************************************************************/
/* /CSS for the animation */
@keyframes customMoveRotate {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* ************************************************** */
footer { 
  /* margin-top: 4vh; */
 
  background-color: #f8f8f8;
  padding: 20px 0;
 
}

.footerbox {
 
  background-color: #038575; 
  display: flex;
  gap: 30vw;
  height: 30vh;
}


.footer-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo P {
  width: 100px; /* Adjust the width to fit your logo size */
  color: white;
  margin-top: 2.5vh;
  font-size: 5rem;
  font-family: 'Monoton', cursive;
 
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media img {
  width: 30px; /* Adjust the width to fit your social media logo size */
  margin-right: 10px;
}

/* .social-media {
  display: flex;
  align-items: center;
}

.social-media img {
  width: 15px; /* Adjust the width to fit your social media logo size */
  /* margin-right: 10px;
  color: red;
} */ 


@media screen and (max-width:626px) {
  .first {
    height: 33.1vh;

    background-color: rgb(1, 111, 111);
  }

  nav ul {
    width: 50%;
    margin-left: 46%;

    /* background-color: rgba(5, 136, 136, 0.35); */
    background-image: linear-gradient(to right, rgb(251, 190, 103), rgba(248, 184, 6, 0.224));
    /* border: 2px solid rgb(1, 111, 111); */
  }

  nav ul li {
    display: block;
  }

  .menu {
    cursor: pointer;
    margin-right: 25px;
    display: block;
  }

  #manulist {
    overflow: hidden;
    transition: 0.5s;
  }
}


