

body {
   
    background-image: url(https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148865392.jpg?w=996&t=st=1687169198~exp=1687169798~hmac=48d3410d097ed1461d517a0f4a86640a513d81d20b3a9b9aa842516f184477d4);
    background-size: cover;   
    
  }

  /* nav bar */
  *{
    margin: 0;
    padding: 0;
  }
  
 
  
  .nav {
    padding: 4px;
    position: relative;
    width: 100%;
    display: flex;   
   
    align-items: center;
    background-color: #eaeaea51;
   
  }    
   
  .name {
   
    justify-content: center;
    font-size: 50px;
    border: 2px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  
  .name:hover {
    color: rgb(235, 159, 6);
  }
  /* nav bar */
  
  .container {
    font-family: Arial, sans-serif;
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: white;
    /* align-items: center; */
    max-width: 400px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #f2f2f22b;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-right: 2vw;
    justify-content: center;
    margin-bottom: 20px;
  }
  .form-group button {
    margin-left: 1vw;
    margin-top: 2px;
  }
  .form-group span {
    
    margin-left:8vw;
   
  }
  .form-group span a{
    color: rgb(122, 186, 241);
    text-decoration: none;
   
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: solid 2px white;
    background-color: #1e447c65;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:  #1e447c;
  }

  